body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax (5px, auto);
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;

}

.navigation{
    grid-column: 1 / span 3;
}

.header{
    grid-column: 1 / span 3;
    text-align: center;
    background-color: black;
    color: white;
}


.Box1{
    grid-column: 1 / span 3;
    border-style: solid;
    border-width: 1px;    
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.Box2{
    grid-column: 1 / 2;
}

.Box3{
    grid-column: 3 / 4;
}

.bg.image{
    background: black url(https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiQ08-K6qHeAhVC9IMKHXyRCj0QjRx6BAgBEAU&url=https%3A%2F%2Fwww.brookings.edu%2Fblog%2Fthe-avenue%2F2017%2F11%2F21%2Ftech-empowers-tech-polarizes%2F&psig=AOvVaw0KmPkUDSFXmLQWEVW5VF5W&ust=1540565001314883);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .07;
}

ul { 
    margin: 0px; /* Clearing out margins */
    padding: 0px; /* Clearing out padding */
    list-style: none; /* Removes any bullets */
}

ul li {
    float: left; /*Ensures text aligns left */
    width: 200px;
    height: 30px;
    background-color: #d9d9d9;
    opacity: .75;
    line-height: 30px;
    text-align: center;
    margin-right: 2px;
    color: Black;
}

ul li a {
    text-decoration: none; /*Prevents underlining, etc */
    color: Black;
    display: block; /* Block element starts on a new line and takes the whole width */
    }

ul li a:hover {
    background-color: green; /*This highlights each item when hovered */
}

ul li ul li {
    display: none; /* Hides the sub-menu elements until they are selected */
}

ul li:hover ul li {
    display: block; /* Displays sub menus when selected "hovered" */
}

